#**Pandas** 
pandas is a Python package for data manipulation.It can also be used for data visualization.

pandas is built on top of two essential Python packages, NumPy and Matplotlib. Numpy provides multidimensional array objects for easy data manipulation that pandas uses to store data, and Matplotlib has powerful data visualization capabilities that pandas takes advantage of.



```
pandas_dataframe = pd.DataFrame(data,index,dtype)
```

In [64]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
df

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [65]:
type(df)

pandas.core.frame.DataFrame

##**Reading with Pandas**

In [67]:
import pandas as pd

url = "https://raw.githubusercontent.com/codebasics/py/master/pandas/1_intro/nyc_weather.csv"
data = pd.read_csv(url)
data

          EST  Temperature  DewPoint  ...  CloudCover    Events  WindDirDegrees
0    1/1/2016           38        23  ...           5       NaN             281
1    1/2/2016           36        18  ...           3       NaN             275
2    1/3/2016           40        21  ...           1       NaN             277
3    1/4/2016           25         9  ...           3       NaN             345
4    1/5/2016           20        -3  ...           0       NaN             333
5    1/6/2016           33         4  ...           0       NaN             259
6    1/7/2016           39        11  ...           3       NaN             293
7    1/8/2016           39        29  ...           8       NaN              79
8    1/9/2016           44        38  ...           8      Rain              76
9   1/10/2016           50        46  ...           7      Rain             109
10  1/11/2016           33         8  ...           1       NaN             289
11  1/12/2016           35        15  ...           4       NaN             235
12  1/13/2016           26         4  ...           0       NaN             284
13  1/14/2016           30        12  ...           7       NaN             266
14  1/15/2016           43        31  ...           2       NaN             101
15  1/16/2016           47        37  ...           7      Rain             340
16  1/17/2016           36        23  ...           6  Fog-Snow             345
17  1/18/2016           25         6  ...           2      Snow             293
18  1/19/2016           22         3  ...           1       NaN             293
19  1/20/2016           32        15  ...           2       NaN             302
20  1/21/2016           31        11  ...           1       NaN             312
21  1/22/2016           26         6  ...           3      Snow              34
22  1/23/2016           26        21  ...           8  Fog-Snow              42
23  1/24/2016           28        11  ...           3      Snow             327
24  1/25/2016           34        18  ...           2       NaN             286
25  1/26/2016           43        29  ...           2       NaN             244
26  1/27/2016           41        22  ...           3      Rain             311
27  1/28/2016           37        20  ...           1       NaN             234
28  1/29/2016           36        21  ...           4       NaN             298
29  1/30/2016           34        16  ...           0       NaN             257
30  1/31/2016           46        28  ...           0       NaN             241

[31 rows x 11 columns]

In [68]:
# Save data into csv file format
data.to_csv("WeatherData.csv")

In [ ]:
# import pandas as pd
# import sqlalchemy / psycopg2

# engine = sqlalchemy.create_engine('')
#df = pd.read_sql_table()

In [69]:
# open csv and Load it into a DataFrame
import pandas as pd

df = pd.read_csv('WeatherData.csv')

###**1- Filtering DataFrame**

In [65]:
#Min, Max, Mean ,... Functions
df['Temperature'].max()

50

In [66]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

--------------------------------------------------------------------------------

In [71]:
import pandas as pd

url = "https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv"
df = pd.read_csv(url)

df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

##**2- T (Transpose)**

Returns the transpose of the DataFrame. The rows and columns will interchange.

In [55]:
df.T

                    0         1         2         3         4         5
day          1/1/2017  1/2/2017  1/3/2017  1/4/2017  1/5/2017  1/6/2017
temperature        32        35        28        24        32        31
windspeed           6         7         2         7         4         2
event            Rain     Sunny      Snow      Snow      Rain     Sunny

##**3- Axes**
Returns the list of row axis labels and column axis labels.

In [9]:
df.axes

[RangeIndex(start=0, stop=6, step=1),
 Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')]

##**4- dtypes**
Returns the data type of each column.

In [59]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

##**5- Empty**

Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.

In [60]:
df.empty

False

##**6- Shape**
Returns a tuple representing the dimensionality of the DataFrame. Tuple (a,b), where a represents the number of rows and b represents the number of columns.

In [62]:
df.shape

(6, 4)

##**7- Size**
Returns the number of elements in the DataFrame.

In [63]:
df.size

24

##**8- values**
Returns the actual data in the DataFrame as an NDarray.

In [68]:
df.values

array([['1/1/2017', 32, 6, 'Rain'],
       ['1/2/2017', 35, 7, 'Sunny'],
       ['1/3/2017', 28, 2, 'Snow'],
       ['1/4/2017', 24, 7, 'Snow'],
       ['1/5/2017', 32, 4, 'Rain'],
       ['1/6/2017', 31, 2, 'Sunny']], dtype=object)

##**9- Head & Tail**
To view a small sample of a DataFrame object, use the head() and tail() methods. head() returns the first n rows (observe the index values). The default number of elements to display is five, but you may pass a custom number.

In [73]:
df.tail(10)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

##**10- Summarizing Data**
The describe() function computes a summary of statistics pertaining to the DataFrame columns.

In [70]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

##**11- Statistics**

In [74]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

temperature    30.333333
windspeed       4.666667
dtype: float64

In [72]:
df.sum()

day            1/1/20171/2/20171/3/20171/4/20171/5/20171/6/2017
temperature                                                 182
windspeed                                                    28
event                                RainSunnySnowSnowRainSunny
dtype: object

In [74]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

temperature    3.829708
windspeed      2.338090
dtype: float64

In [82]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

##**12- Order of Sorting**
By passing the Boolean value to ascending parameter, the order of the sorting can be controlled. Let us consider the following example to understand the same.

In [76]:
sorted_df=df.set_index(ascending=True)
sorted_df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

##**13- Sort the Columns**



```
Remember axis=0 (or axis='rows' is horizontal axis. axis=1 (or axis='columns') is vertical axis
```

In [78]:
sorted_df=df.sort_index(axis=0)
sorted_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**Sort by Column**

In [79]:
sorted_df = df.sort_values(by='event')
sorted_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
4  1/5/2017           32          4   Rain
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny

##**14- Slicing, Indexing and Selecting Data**
##**.loc()**
Pandas provide various methods to have purely label based indexing. When slicing, the start bound is also included. Integers are valid labels, but they refer to the label and not the position.

loc takes two single/list/range operator separated by `','`. The first one indicates the row and the second one indicates columns.



```
Pandas use the loc attribute to return one or more specified row(s)

```

In [80]:
df.loc[:,'day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [85]:
df.loc[:,['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [86]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [84]:
df.loc[[0, 3]]

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
3  1/4/2017           24          7  Snow

In [87]:
for i in range(0,5):
  print(df.loc[[i]])

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
        day  temperature  windspeed event
3  1/4/2017           24          7  Snow
        day  temperature  windspeed event
4  1/5/2017           32          4  Rain

##**iloc()**
Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows 

* An Integer
* A list of integers
* A range of values

In [112]:
df.iloc[0,0]

'1/1/2017'

In [52]:
# select all rows for a specific column
df.iloc[:4]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [113]:
df.iloc[:3,:2]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28

In [114]:
df.iloc[1:3,0:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [105]:
df.iloc[1:5, 2:4]

   windspeed  event
1          7  Sunny
2          2   Snow
3          7   Snow
4          4   Rain

##**15- Group By**

In [89]:
val = df.groupby('event')
val

In [92]:
#Select * from df groupby event
for event,event_df in val:
  print(event)
  print(event_df)

Rain
        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain
Snow
        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
Sunny
        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny

In [126]:
val.get_group('Sunny')

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny

In [131]:
val.describe()

      temperature                              ... windspeed
            count  mean       std   min   25%  ...       min   25%  50%   75%  max
event                                          ...
Rain          2.0  32.0  0.000000  32.0  32.0  ...       4.0  4.50  5.0  5.50  6.0
Snow          2.0  26.0  2.828427  24.0  25.0  ...       2.0  3.25  4.5  5.75  7.0
Sunny         2.0  33.0  2.828427  31.0  32.0  ...       2.0  3.25  4.5  5.75  7.0

[3 rows x 16 columns]

##**16- Merge**

In [93]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [94]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})

df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [98]:
df3=pd.merge(df1,df2,on="city",how="inner")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [100]:
#keep common columns
df1.join(df2,lsuffix='1', rsuffix='2')

       city1  temperature      city2  humidity
0   new york           21    chicago      65.0
1    chicago           14   new york      68.0
2    orlando           35  san diego      71.0
3  baltimore           38        NaN       NaN